.size th {
    background: #b40000!important;
    color: #fff!important;
    font-weight: 600;
    padding: 0 12px;
    text-align: left;
    border: 1px solid #fff;
    
}
.size tr:nth-child(odd) td{
    background-color: #e4e4e4;
}

.size td, th{
    padding: 12px 12px;
    border: 1px solid transparent;
    height: 48px;
    transition: all .3s ease-in-out;

}
.size tr:nth-child(even) td{
    background-color: #f5f5f5;
}

@media (max-width:768px) {
    .size table{
        overflow-x: auto;
            display: block;   
        }
        .head{
            text-align: center;
        }
}

