.productBox {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: var(--space-3xl);
  }
  
  .container {
    padding: var(--size-gutter-raw);
  }
  
  .iconposition{
    position: absolute;
    top:59%;
    left:3%;
  }
  .header {
    font-family: 'Aftika_ExtraLight';
    font-weight:100;
    margin-bottom: var(--space-xl);
    line-height: var(--dense);
  }
  
  .productDescription {
    font-size: 14px;
    color:#707070;
    font-family:"Aftika_Light";
  }
  
  .productImageWrapper {
    position: relative;
  }
  
  .productImageList {
    display: flex;
    overflow-x: auto;
  }
  
  /* .productImageListItem {
    display: flex;
    flex: 0 0 100%;
    white-space: nowrap;
  } */
  
  .scrollForMore {
    text-align: center;
    margin-top: 1rem;
    display: none;
    font-size: var(--text-lg);
    transform: translate3d(-50%, 0px, 0px);
    left: 50%;
    position: absolute;
  }
  
  .noImagePreview {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    font-size: var(--text-lg);
  }
  
  .priceValue > span {
    font-size: var(--text-display);
    font-weight: var(--bold);
    line-height: var(--dense);
    color: var(--primary);
  }
  
  .priceValue {
    padding: var(--space-lg) 0;
  }
  
  .visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  
  .optionsWrapper {
    display: grid;
    grid-template-columns: var(--product-grid);
    gap: var(--space-lg);
    padding-bottom: var(--space-lg);
  }
  
  .addToCartStyle {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: var(--space-lg);
  }
  
  
  .labelFont {
    font-size: var(--space-lg);
    line-height: var(--space-xl);
    padding-right: var(--space-md);
    color: var(--text-color-secondary);
  }
  
  .tagList a {
    font-weight: var(--semibold);
    color: var(--text-color-secondary);
    padding-right: var(--space-md);
  }
  
  .tagList a:hover {
    color: var(--text-color);
    text-decoration: underline;
  }
  
  .breadcrumb {
    color: var(--text-color-secondary);
    font-size: var(--text-sm);
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  
  .breadcrumb a:hover {
    color: var(--text-color);
    text-decoration: underline;
  }
  
  .metaSection {
    padding-top: var(--space-3xl);
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: baseline;
  }
  
  @media (min-width: 640px) {
    .productBox {
      grid-template-columns: 1fr 2fr;
    }
    .addToCartStyle {
      grid-template-columns: min-content max-content;
    }
  }
  
  @media (min-width: 1024px) {
    .productBox {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  .selectedmenu{
    color:#707070;
    font-family:"Aftika_ExtraLight";
    font-size: 13px;
  }
  .horizontalBorder{
    border-top:1.4px dotted #707070;
  
  }
  
  
  .radioStyle > input[type="radio"]:checked {
    background-color: #C51626 !important;
    border:5px solid #C51626
  }
  
  .radioStyles > input[type="radio"]:checked {
    background-color: #C51626 !important;
    border:5px solid #C51626
  }
  
  .radioStyle > input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .radioStyles > input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  .radioStyle > input[type="radio"] {
    display: inline-block;
    width: 10px;
    height: 10px;  
    padding: 3px;
    background-clip: content-box;
    border: 5px solid #706070;
    border-radius: 50%;
    margin-right: 0;
  }
  
  .radioStyles > input[type="radio"] {
    display: inline-block;
    width: 10px;
    height: 10px;  
    padding: 3px;
    background-clip: content-box;
    border: 5px solid #706070;
    border-radius: 50%;
    margin-right: 0;
  }
  
  .radioStyle{
    min-width:130px;
  }
  .selectedmenu:disabled {
    opacity: 0.3;
  }
  @media(max-width:576px){
    .header{
      font-size:18px;
      font-weight:600;
    }
    .cutomimgWidth{
      width:30px !important
    }
    .fontSm{
      font-size: 18px !important;
      font-weight: 600;
    }
    .salelock{
      position:absolute;
      width:75px;
      height:75px;
      color:white;
      display:flex;
      justify-content:center;
      align-items:center;
      background-color:#C51626;
      top: 23%!important;
      left: 0% !important;;
      font-size:13px;
    }
  }
  
  .salelock{
    position:absolute;
    width:75px;
    height:75px;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#C51626;
    top:0%;
    left:35%;
    font-size:13px;
  }
  
  